/*LOGO*/

#logo {
    width: 70px;
}

nav {
    position: sticky;
    top: 0;
}

.movies{
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

/*LOADING*/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #cef;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #cef transparent transparent transparent;
    /*visibility: hidden;*/
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.container{
    outline: solid black 2px;
    display: flex;

}

/*MODAL*/
.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: rgba(77, 77, 77, .7);*/
    /*transition: all .4s;*/
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}

.parent{
    top: 3rem;

}

/*cards*/
.year{
    font-size: 1rem;
    padding-top: 3px;
    color: rgba(0, 0, 0, 0.7);

}

/*Shopping cart modal*/

.card-link{
    text-decoration: none;
    font-size: 1rem;
}

.card-link:hover {
    text-decoration: underline;
}

li{
    list-style: none;
    text-decoration: underline;
}

.imageCard{
    width: 50px;
    height: 50px;
}

#parent{
    background: rgba( 253, 253, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cart {
    border-top:none ;
    border-left:none ;
    border-right:none ;
    border-bottom: 1px solid black;
    border-radius: 0;
    padding-bottom: 5px;
    margin-bottom: .3rem;
}

.cart:last-of-type {
    /*border-bottom: 1px solid black;*/
    border: none;

}


